<div class="mat-elevation-z8">
 <mat-toolbar >  
<mat-toolbar-row class="rab">
  <span><button mat-raised-button color="primary">Summary </button></span>
    <span class="pull-right"></span>
            <button mat-icon-button>
              <mat-icon mat-icon (click)="openDialog()">edit</mat-icon>
            </button>
           
</mat-toolbar-row>
</mat-toolbar>        
   
  <p class="tab">
      Mr. Hari Krishna, Advocate, completed his law in the year 2003 and has been providing services in various fields of law, including, but not limited to Civil, Criminal, Arbitration, Labour & Service Matters, Intellectual Property Rights, Trademark, matters relating to Property Law, Copyright, inter-alia, Suits, Writs, Appeals, Revisions, Complaints relating to Debt Recovery, Dishonor of Cheques, Rent Control Act, Cheque Bounce Matters, Matrimonial disputes and drafting and vetting of various agreements, documents, will, MoU, and so on.</p>
  <p class="tab">He has extensive knowledge and expertise in consumer matters and has appeared before both SCDRC and NCDRC. He also specialises in corruption and CBI cases, and has dealt extensively in NDPS matters. 

      He started his practice with Mr. P.N LEKHI, Sr. Advocate and worked with him for four years, and since 2007 has been practicing and handling cases independently with a result oriented approach, both professionally and ethically.
  </p>
  
  </div>