

/* End carousel */
.container{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin:auto;
 
}
.slick-container {
  width: 1100px;
  border: 1px solid gray;
  margin: auto;
  padding: 15px;
}

.slick-item img {
  margin: auto;
}
.tab34{
  width:100%;
  height:500px;
  margin:auto;

}
.slider{
  width:400px;
  margin:20px auto;
  text-align: center;
  padding:20px;
  color:white;
  .parent-slide{padding:15px;}
  img{display: block;margin:auto;}
}
.example-card {
  max-width: 250px;
}

.slider-size {
  height: 350px;
}
card-img-top img-fluid{
  width:25px;
  height:50px
}
@media (max-width: 1281px) {
 
}
// huguiggglugiu

p {
  font-family: Lato;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 20%;
}
.page-content {
  font-size: 15px
}

.onoffswitch3
{
    position: relative; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
   
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 180px; padding: 0; line-height: 30px;
    font-size: 20px; color: white; font-family: 'Montserrat', sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 50px;
    background-color: #EEEEEE; color: #FFFFFF;
}





.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}



.scroll-text{
    color:black;
}
.header-text{
 
}
.text{
  color:blue;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}
.no-navvbar {
  font-size: 18px;
}
.full {
  width: 100%;	
}
.gap {
height: 30px;
width: 100%;
clear: both;
display: block;
}
.footer {
  position: fixed;
  height: 50px;
background: #EDEFF1;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
 
}
.footer p {
margin: 0;
}
.footer img {
max-width: 100%;
}
.footer h3 {
border-bottom: 1px solid #BAC1C8;
color: #54697E;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 40px 0 10px;
text-transform: uppercase;
}
.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 15px;
color: #7F8C8D;
}
.footer ul li a {
padding: 0 0 5px 0;
display: block;
}
.footer a {
color: #78828D
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
background: #FFFFFF;
display: inline-block;
float: left;
height: 30px;
clear: both;
width: 100%;
}
.newsletter-box .btn {
border: medium none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
display: inline-block;
height: 40px;
padding: 0;
width: 100%;
color: #fff;
}
.newsletter-box {
overflow: hidden;
}
.bg-gray {
background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
background: none repeat scroll 0 0 #B5B5B5;
border: 2px solid #B5B5B5;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-o-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
float: left;
height: 36px;
line-height: 36px;
margin: 0 8px 0 0;
padding: 0;
text-align: center;
width: 36px;
transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-webkit-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
}
.social li:hover {
transform: scale(1.15) rotate(360deg);
-webkit-transform: scale(1.1) rotate(360deg);
-moz-transform: scale(1.1) rotate(360deg);
-ms-transform: scale(1.1) rotate(360deg);
-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
color: #EDEFF1;
}
.social li:hover {
border: 2px solid #2c3e50;
background: #2c3e50;
}
.social li a i {
font-size: 16px;
margin: 0 0 0 5px;
color: #EDEFF1 !important;
}
.footer-bottom {
background: #E3E3E3;
border-top: 1px solid #DDDDDD;
padding-top: 10px;
padding-bottom: 10px;
}
.footer-bottom p.pull-left {
padding-top: 6px;
}
.payments {
font-size: 1.5em;	
}
body {
  margin-bottom:50px;
}






