
<perfect-scrollbar style="height: calc(100% - 33px);">
    <div fxLayout="column" >
        <div *ngIf="!iconOnly" fxLayoutAlign="space-around center" [style.margin]="'10px 0px'" >
          <img width="200" [style.borderRadius]="'50%'" src="./assets/user-image.jpg">
          
        </div>
        <div class="info-position">
            <h1 class="mat-headline center-align"> {{currentUser.firstName}}</h1>
            <h3 class="mat-headline1 center-align" >Senior Lawyer</h3>
            <h3 class="mat-headline2 center-align" >Madras High Court</h3>
        </div>
        <div *ngIf="iconOnly" style="height: 100px;" fxLayoutAlign="space-around center"  >
            <img width="50" [style.borderRadius]="'50%'" src="./assets/user-image1.jpg">
        </div>
        <cdk-sidemenu-item *ngFor="let menu of menus" [menu]="menu" [iconOnly]="iconOnly"> </cdk-sidemenu-item>
    </div>
    
</perfect-scrollbar>
