
.mat-headline  {
    
    font-size: 24px;font-family: Roboto;color:white;margin-top: 8px;
    font:center ;
}
.mat-headline1 {
    
    font-size: 15px;font-family: Roboto;color:white;margin-top: 8px;
    font:center ;
}
.mat-headline2  {
    
    font-size: 15px;font-family: Roboto;color:white;margin-top: 8px;
    font:center ;
}

.info-position {
    text-align: center!important;
}