.mat-elevation-z8 {
  margin: 20px 35px;
  background-color:white;
  border: 1px solid black;
}
.nav-item {
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
cursor: default;

&:hover {
 transform: translate(0, -8px);
 box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
}
}
table {
width: 100%;
}
.pull-right{
  flex: 1 1 auto;
}