<div class="mat-elevation-z8">
        <mat-toolbar>  
           <mat-toolbar-row>
            <button mat-raised-button color="primary">COURTS
            </button>
            <span class="pull-right"></span>
                <button mat-icon-button>
                  <mat-icon mat-icon (click)="openDialog()">edit</mat-icon>
                </button>
        
           </mat-toolbar-row>
          </mat-toolbar>
          <mat-list>
                <mat-list-item><mat-icon>account_balance</mat-icon>Delhi High Court,  District Court, Gurgaon, </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><mat-icon>account_balance</mat-icon>District Court, Saket,  District Court</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><mat-icon>account_balance</mat-icon>Supreme Court Of India </mat-list-item>
              </mat-list>
            </div> 